@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	/** FONT SIZES */
	--F-XXS: 0.25rem;
	--F-XS: 0.5rem;
	--F-SM: 0.75rem;
	--F-NORMAL: 1rem;
	--F-M: 1.25rem;
	--F-L: 1.5rem;
	--F-XL: 1.75rem;
	--F-XXL: 2rem;

	/** COLORS */
	--WHITE: #f5f5f5;
	--BLUE: #118ab2;
	--RED: #df2935;
	--YELLOW: #ff9f1c;
	--BLACK: #333;
}

/*! GENERAL */

::selection {
	background-color: var(--YELLOW);
	color: var(--BLACK);
}

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: var(--BLACK);
	color: var(--WHITE);
}

.weather-header {
	background-color: var(--BLUE);
}

#today-time {
	font-size: var(--F-M);
}

/*! WEATHER CARD */

#today-card {
	background-color: var(--BLACK);
	color: var(--WHITE);
	border: 1px solid rgba(245, 245, 245, 0.2);
	border-radius: 1rem;
	width: 100%;
	box-shadow: 2px 2px 6px 0 #000;
}

#fiveDay-card {
	background-color: var(--BLUE);
	color: var(--WHITE);
	border: 1px solid rgba(245, 245, 245, 0.2);
	border-radius: 1rem;
	/* width: 100%; */
	box-shadow: 2px 2px 6px 0 #000;
	/* margin: 0.75rem; */
}

.today-title {
	display: flex;
	align-items: center;
}

.fiveDay-title {
	font-size: var(--F-M);
}

.today-icon,
.fiveDay-icon {
	width: 50px;
	height: auto;
}

.today-desc,
.fiveDay-desc {
	font-weight: 400;
}

.fiveDay-desc {
	font-size: var(--F-NORMAL);
}

.today-info,
.fiveDay-info {
	font-weight: 300;
}
